@charset 'UTF-8';

body {
    background-image: url('../img/kazoo04-background.png');
    background-position: right bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main {
    width: 1024px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
}

.content {
    padding: 25px;
}

.canvas {
    float: left;
    position: relative;
    width: 512px;
    height: 512px;
}

.canvas img {
    position: absolute;
    top: 0;
    left: 0;
    width: 512px;
    height: 512px;
}

.form {
    float: left;
    margin-left: 25px;
    text-align: center;
}

.title {
    font-size: 28px;
}

.sub-title {
    font-size: 18px;
    text-align: left;
}

input[type="file"].upload {
    display: block;
    height: 1.2em;
    line-height: 1;
    font-size: 100%;
}