@charset 'UTF-8';

body {
    min-height: 100%;
    background-image: url('http://wada811.github.com/sample/kazoo04IconGenerator/img/kazoo04-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}