@charset 'UTF-8';

body {
    background-image: url('http://wada811.github.com/sample/kazoo04IconGenerator/img/kazoo04-background.png');
    background-position: right bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main {
    width: 1024px;
    margin: 50px auto;
}

.content {
    margin: 25px;
}

.canvas {
    float: left;
    width: 512px;
    height: 512px;
    margin: 25px 25px 25px 0;
}

.form {
    float: left;
    text-align: center;
}